
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #fff6fa;
  color: #333;
  line-height: 1.6;
}




header {
  background-color: #ca216a;
  color: white;
  text-align: center;
  padding: 25px 0;
  border-bottom: 5px solid #f85d98;
}

header h1 {
  font-size: 2.3em;
  letter-spacing: 1px;
}


main {
  width: 90%;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 12px #e6a5be;
  border: 2px solid #ca216a;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

caption {
  font-size: 1.6em;
  color: #ca216a;
  margin-bottom: 15px;
  text-decoration: underline;
}

th, td {
  border: 2px solid #f7c1d9;
  padding: 15px;
  text-align: center;
}

th {
  background-color: #f33889;
  color: white;
  font-size: 1.1em;
}

td {
  background-color: #ffe4ef;
  font-size: 1em;
}

td:hover {
  background-color: #ee71ac;
  color: #ffe4ef;
  transition: 0.3s;
}

caption:hover{
  color: #e95897;
}


td {
  font-weight: bold;
  color: #8a0f46;
}



a {
  display: block;
  text-align: center;
  color: #ca216a;
  font-weight: bold;
  text-decoration: none;
  margin: 20px auto;
  font-size: 18px;
  transition: color 0.3s;
}

a:hover {
  color: #f85d98;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  font-size: 14px;
  bottom: 0;
  position: fixed; 
}




@media (max-width: 1024px) {
  header h1 {
    font-size: 2em;
  }

  th, td {
    padding: 12px;
  }

  main {
    width: 95%;
  }
}


@media (max-width: 768px) {
  header h1 {
    font-size: 1.8em;
  }

  main {
    width: 95%;
    padding: 20px;
  }

  table {
    font-size: 14px;
  }

  a.back-home {
    padding: 8px 18px;
    font-size: 14px;
  }
}


