body {
    font-family: Arial, sans-serif;
    background: #ecebec;
    margin: 0;
    padding: 0;
}

.resume-container {
    width: 80%;
    max-width: 1000px;
    height: 1000px;
    background:  #d200a7;
    margin: 30px auto;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}





.left {
    width: 35%;
    background: #0b0029;
    color: #d200a7;
    padding: 20px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;

}

.section-title {
    font-size: 22px;
    margin: 30px 0 10px;
    font-weight: bold;
    border-bottom: 2px solid  #d200a7;
    padding-bottom: 10px;

}

ul {
    margin: 0;
    padding-left: 18px;
}






.right {
    width: 65%;
    padding: 30px;
    color: #0b0029;

}

.name {
    font-size: 36px;
    font-weight: bold;
}

.job-title {
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.sub-section {
    margin-bottom: 40px;
    padding-bottom: 2px solid #0b0029;
}

.sub-section h3 {
    font-size: 22px;
    border-left: 5px solid #0b0029;
    padding-left: 10px;
}

.edu-item, .exp-item {
    margin-bottom: 10px;
}

.year {
    font-weight: bold;
    
}




 @media (max-width: 600px) {
  body {
    padding: 15px;
  }
  header h1 {
    font-size: 1.8em;
  }
} 


