
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
}



header {
  background: #ca216a;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-bottom: 5px solid #f85d98;
}

header h1 {
  font-size: 2em;
  letter-spacing: 1px;
}



nav {
  background: #333;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

nav li {
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

nav a:hover {
  background: #f85d98;
}



main {
  max-width: 900px;
  margin: 30px auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2, h3 {
  color: #ca216a;
  margin-bottom: 10px;
}

main p, ul li {
  margin-bottom: 15px;
}






a[href*="welcome"], .back-home {
  display: block;
  text-align: center;
  margin: 30px auto 80px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
a{
  color: #f85d98;
}



footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}



@media (max-width: 1024px) {
  main {
    width: 95%;
    padding: 20px;
  }

  header h1 {
    font-size: 1.8em;
  }

  nav ul {
    flex-wrap: wrap;
  }

  nav li {
    margin: 8px;
  }
}

@media (max-width: 768px) {
 
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    padding: 10px 20px;
    font-size: 16px;
  }

  main {
    width: 90%;
    padding: 15px;
  }

  header h1 {
    font-size: 1.5em;
  }

  h2, h3 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  main {
    width: 95%;
    padding: 10px;
  }

  nav a {
    padding: 8px 15px;
    font-size: 14px;
  }

  header h1 {
    font-size: 1.3em;
  }

  h2, h3 {
    font-size: 1.1em;
  }
}


